h1,
#container {
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.pokemon {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.pokemon img {
    display: block;
}